/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

.container_modal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

/* 스크롤바 전체 스타일 */
.modal-content_modal::-webkit-scrollbar {
    width: 15px; /* 스크롤바의 너비 */
    height: 4px; /* 수평 스크롤바의 높이, 필요한 경우 */
}

/* 스크롤바 트랙 (트랙은 스크롤바가 움직이는 공간) */
.modal-content_modal::-webkit-scrollbar-track {
    background: #f1f1f1; /* 트랙의 배경색 */
    border-radius: 10px; /* 트랙의 모서리를 둥글게 */
}

/* 스크롤바 핸들 (실제로 사용자가 드래그 할 수 있는 부분) */
.modal-content_modal::-webkit-scrollbar-thumb {
    background: #a5a5a5; /* 핸들의 배경색 */
    border-radius: 10px; /* 핸들의 모서리를 둥글게 */
}

.modal-content_modal::-webkit-scrollbar-thumb:hover {
    background: #888; /* 핸들을 호버할 때의 배경색 */
}

.btn_modal {
    display: block;
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    width: 95%;
    cursor: pointer;
}
.design-section_modal,
.approval-section_modal {
    width: 49%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.image-upload_modal {
    border: 1px dashed #ccc;
    padding: 30px;
    text-align: center;
    margin: 20px 0;
    height: 500px;
}

.btn:hover {
    background-color: #0056b3;
}

.input-field_modal {
    display: block;
    width: 90%; /* 입력 필드 너비 조정 */
    padding: 10px; /* 입력 필드 내부 여백 */
    margin: 10px 0; /* 입력 필드 상하 여백 */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 5px; /* 테두리 둥글게 처리 */
}

.input-field:focus {
    border-color: #007bff; /* 포커스 상태에서 테두리 색상 변경 */
    outline: none; /* 브라우저 기본 아웃라인 제거 */
}

/* styles2.css */
.modal_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    overflow: hidden;
}

.modal-content_modal {
    position: relative; /* 포지셔닝 컨텍스트를 설정 */
    background-color: #fefefe;
    margin: 15% auto; /* 위에서 15%의 여백을 두고 가운데 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 화면 크기에 따라 80% 너비 */
    max-height: 90vh; /* 뷰포트 높이의 90%까지만 허용 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
}

.modal-content_modal .container_modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close_modal:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close_modal {
    position: absolute; /* 절대 위치 */
    background-color: #ffd900;
    padding: 2px 8px;
    top: 10px; /* 상단에서 10px */
    right: 10px; /* 우측에서 10px */
    color: purple;
    font-size: 28px; /* 아이콘 크기 */
    font-weight: bold;
    cursor: pointer; /* 클릭 가능 표시 */
}

.close_modal:hover,
.close_modal:focus {
    color: black; /* 호버 상태에서 색상 변경 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 기존 버튼 스타일 */
.btn_modal {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* 모달 생성 버튼에 적용할 스타일 */
#openModal {
    background-color: purple; /* 강조 색상 */
    color: white;
    font-weight: bold; /* 글자 진하게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#openModal:hover {
    background-color: #0056b3; /* 호버 상태에서의 색상 */
}

@media (max-width: 950px) {
    .modal-content_modal .container_modal {
        flex-direction: column;
        /* align-items: center; */
    }

    .design-section_modal,
    .approval-section_modal {
        width: 100%;
        margin: 0; /* 마진 제거 */
        padding: 10px; /* 패딩 조정 */
    }
    .btn_modal {
        width: 95%; /* 버튼의 너비를 90%로 설정 */
    }
}

.image-upload-circle_modal {
    border: 2px dashed #ccc; /* 점선 테두리 */
    border-radius: 50%; /* 원형 모양 */
    width: 200px; /* 틀의 너비 */
    height: 200px; /* 틀의 높이 */
    display: flex; /* 플렉스 박스 모델 적용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin: 20px auto; /* 자동 마진으로 중앙 위치 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 30px;
}

.image-upload-circle_modal p {
    padding: 10px; /* 내부 여백 */
    font-size: 16px; /* 글꼴 크기 */
}

.buttons-container_modal {
    display: flex;
    justify-content: center;
    align-items: center; /* 버튼들을 세로 중앙에 정렬 */
    padding: 10px; /* 컨테이너의 내부 여백 */
}

.btn_modal {
    flex-grow: 1; /* 각 버튼이 가능한 공간을 균등하게 채우도록 설정 */
    margin: 5px; /* 버튼 사이의 마진 */
}

.tab-container_modal {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    background-color: #ffd900; /* 배경색 설정 */
}

.tab_modal {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px; /* 둥근 모서리 */
    transition: background-color 0.3s;
}

.tab_modal:hover {
    background-color: #ddd; /* 호버 효과 */
}

.active_modal {
    background-color: '#blue'; /* 활성 탭 색상 */
    color: 'white';
}

.design-tools-container_modal {
    padding: 20px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    margin-top: 10px;
}

.design-category_modal {
    margin-bottom: 15px;
}

.design-option-row_modal {
    margin: 5px 0;
}

input[type='text'],
input[type='number'],
input[type='color'],
select {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}

.design-action-row_modal {
    text-align: center;
}

/* 동하님 design-css*/
